@charset "UTF-8";

* {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0px;
}

html {
  font-size: 100%;
  /* scroll-behavior: smooth; */
	height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  color: #333;
  font-size: 1rem;
}

a {
    color: #333;
    text-decoration: none;
    transition: all 0.5s;
    
}

img {
  max-width: 100%;
}
li {
  list-style: none;
}

/*ほとんどのボタンに共通して適用するクラス*/
.btn {
  /* font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem; */
}

.slideshow_wrapper {
	display: none;
}

#slide_close {
	display: none;
}

#slide_close:checked + .slideshow_wrapper {
	z-index: 100;
	inset: 0px;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	display: block;
}

#slide_close:checked + .slide_openButton {
  display: none;
}

#slide_close:checked + html {
	overflow-y: hidden;
}


.slideshow_container {
	z-index: 100;
	inset: 15px;
	position: absolute;
  border-radius: 0.5rem;
}

.slideshow {
	overflow: hidden;
	display: block;
  position: absolute;
  z-index: 1000;
	inset: 0px;
  border-radius: 0.5rem;
}

.slide_closeButton_container {
	position: absolute;
    top: 20px;
    right: 55px;
    z-index: 100000;
}

.slide_closeButton {
	cursor:pointer;
  position: relative;
  font-size: 20px;
}

.last {
  font-size: 80px;
}



.slide_openButton_container {
  
}

.slide_openButton {
	cursor:pointer;
  position: relative;
  font-size: 20px;
  color: #ffffff;
  background-color: #62e7ff;
  width: 100%;
}

.slide_openButton:hover {
  color: #ffffff;
  border-radius: 50%;
}


input[name="slideshow"] {
	display: none;
}

/* :::::: slideContents :::::: */
.slideContents {
	display: flex;
	width: 2000%;
	text-align: center;
	-webkit-user-select: none;
	user-select: none;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  inset: 0px;  
  overflow: hidden;

}



.slide_bg {
  background: seagreen;
  width: 50%;
  height: 100%;
  border-radius: 0.5rem;
  border: solid 10px tan;
}

.slideContents section {
	width: 100%;
	height: 100%;
}

.slide_wrapper{
	height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo {
  position: relative;
  width: 40vw;
  margin: 0 auto;
  max-width: 800px;
  min-width: 600px;
}

.logo:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.logo > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;  
  background-image: url("../img/shogiban.png");
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  color: #fff;
  position: relative;
  width: 100%;
  /* background: linear-gradient(rgba(69, 56, 64, 0.7), rgba(0, 0, 0, 0.7), rgba(65, 63, 51, 0.7)); */
  font-size: 4rem;
  font-weight: bold;
  z-index: 2;
}

.logo-text:before {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 90%;
  height: 100%;
  background-image: linear-gradient(rgba(69, 56, 64, 0.7), rgba(0, 0, 0, 0.7), rgba(65, 63, 51, 0.7)); 
  filter: blur(10px);
  content: "";
  z-index: -1;
}

#slide1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 1rem;
}

#slide1 > div {
  width: 100%;
}

#slide1 > div > p {
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
}

#slide1 > div > img {
  max-width: 800px;
  width: 40vw;
  margin-top: 50px;
  min-width: 700px;
}





.slide-txt {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.slide-txt div {
  flex-basis: 80%;
}

.slide-txt p {
  font-size: 2vw;
  font-family: UDデジタル教科書体;
  line-height: 60px;
  text-align: left;
  color: white;
  font-weight: 600;
}

.slide-txt-last p {
  font-size: 2rem;
}



.slide-img-single {
  flex-basis: 80%;
}

.slide-img-single p {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.slide-img-single img {
  height: 88%;
  border: solid 5px #024900;
}

.slide-img-double {
  flex-basis: 80%;
  display: flex;
}

.slide-img-1{
  position: relative;
  right: -50px;
  flex-basis: 50%;
}

.slide-img-2 {
  position: relative;
  left: -50px;
  flex-basis: 50%;
}

.slide-img-double img {
  height: 88%;
  border: solid 5px #024900;
}

.slide-img-double p {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

#slide-last {
  display: flex;
  flex-direction: column;
  justify-content: center;
}



div.btn--green.btn--emboss {
  color: white;
  text-shadow: -1px -1px 1px #a1a1a1;
  border-bottom: 5px solid #00662d;
  font-size: 2rem;
}

div.btn--green.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 2px solid #00662d;
}

.fa-position-right {
    position: absolute;
    top: calc(50% - .5em);
    right: 1rem;
}

.fa-angle-right:before {
  content: "\f105";
}

.slide-title {
	font-size: 4rem;
  padding: 40px 0px 20px 0px;
  font-family: 游明朝;
  color: white;
}

.slide_headline {
	font-size: 20px;
}

.description {
	font-size: 20px;
  font-family: 游明朝;
  display: inline-block;
  margin: 0 5vw;
}



@media screen and (max-width: 510px) {
  .description {
    font-size: 16px;
  }
}



   /* @media only screen and (min-width:651px){
  .slide_title {
  font-size: 60px;
}
  .description {
    font-size: 16px;
  }
}

@media only screen and (min-width:961px) {
  .slide-title {
  font-size: 50px;
  }
  .description {
    font-size: 35px;
  }
}      */
@media screen and (orientation: portrait) {
  
}

/* @media (min-width: 520px) {
	.slideContents section img {
		aspect-ratio: 3 / 1;
		object-fit: cover;
	}
} */

/* :::::: arrows :::::: */
.arrow,
.arrow label,
.arrow .ico {
	position: absolute;
}
.arrow {
	bottom: 20px;
	margin: 0;
	transition: background .3s;
  background-color: #ffffff;
  border-radius: 50%;
}
.prev {
	right: 200px;
}
.next {
	right: 100px;
}
/*クリック時色が変更される*/
.arrow:active{
  background-color: rgb(47, 0, 255);
}
.arrow:hover {
	/* background: rgba(255,255,255,.2); */
}
.arrow {
	cursor: pointer;
	width: 50px;
	height: 50px;
}
.arrow label {
  cursor: pointer;
	width: 50px;
	height: 100%;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.arrow .ico {
	top: calc(50% - 6px);
	width: 12px;
	height: 12px;
	border-top: 3px solid #000000;
}
.prev .ico {
	left: 40%;
	border-left: 3px solid #000000;
	transform: rotate(-45deg);
	transition: left .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
}
.next .ico {
	right: 40%;
	border-right: 3px solid #000000;
	transform: rotate(45deg);
	transition: right .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
}
.arrow:hover .ico {
	opacity: .6;
}
/* .prev:hover .ico {
	left: calc(50% - 6px);
}
.next:hover .ico {
	right: calc(50% - 6px);
} */

/* :::::: mechanism :::::: */
#switch1:checked ~ .slideContents {
	transform: translateX(0);
  border-radius: 0.5rem;
}
#switch2:checked ~ .slideContents {
	transform: translateX(-5%);
  border-radius: 0.5rem;
}
#switch3:checked ~ .slideContents {
	transform: translateX(-10%);
  border-radius: 0.5rem;
}
#switch4:checked ~ .slideContents {
	transform: translateX(-15%);
  border-radius: 0.5rem;
}
#switch5:checked ~ .slideContents {
	transform: translateX(-20%);
  border-radius: 0.5rem;
}

#switch6:checked ~ .slideContents {
	transform: translateX(-25%);
  border-radius: 0.5rem;
}

#switch7:checked ~ .slideContents {
	transform: translateX(-30%);
  border-radius: 0.5rem;
}

#switch8:checked ~ .slideContents {
	transform: translateX(-35%);
  border-radius: 0.5rem;
}

#switch9:checked ~ .slideContents {
	transform: translateX(-40%);
  border-radius: 0.5rem;
}

#switch10:checked ~ .slideContents {
	transform: translateX(-45%);
  border-radius: 0.5rem;
}

#switch11:checked ~ .slideContents {
	transform: translateX(-50%);
  border-radius: 0.5rem;
}

#switch12:checked ~ .slideContents {
	transform: translateX(-55%);
  border-radius: 0.5rem;
}

#switch13:checked ~ .slideContents {
	transform: translateX(-60%);
  border-radius: 0.5rem;
}

#switch14:checked ~ .slideContents {
	transform: translateX(-65%);
  border-radius: 0.5rem;
}

#switch15:checked ~ .slideContents {
	transform: translateX(-70%);
  border-radius: 0.5rem;
}

#switch16:checked ~ .slideContents {
	transform: translateX(-75%);
  border-radius: 0.5rem;
}

#switch17:checked ~ .slideContents {
	transform: translateX(-80%);
  border-radius: 0.5rem;
}

#switch18:checked ~ .slideContents {
	transform: translateX(-85%);
  border-radius: 0.5rem;
}

#switch19:checked ~ .slideContents {
	transform: translateX(-90%);
  border-radius: 0.5rem;
}

#switch20:checked ~ .slideContents {
	transform: translateX(-95%);
  border-radius: 0.5rem;
}

/* :::::: arrow mechanism :::::: */
.arrow label {
	pointer-events: none;
}
#switch2:checked ~ .prev label[for="switch1"],
#switch3:checked ~ .prev label[for="switch2"],
#switch4:checked ~ .prev label[for="switch3"],
#switch5:checked ~ .prev label[for="switch4"],
#switch6:checked ~ .prev label[for="switch5"],
#switch7:checked ~ .prev label[for="switch6"],
#switch8:checked ~ .prev label[for="switch7"],
#switch9:checked ~ .prev label[for="switch8"],
#switch10:checked ~ .prev label[for="switch9"],
#switch11:checked ~ .prev label[for="switch10"],
#switch12:checked ~ .prev label[for="switch11"],
#switch13:checked ~ .prev label[for="switch12"],
#switch14:checked ~ .prev label[for="switch13"],
#switch15:checked ~ .prev label[for="switch14"],
#switch16:checked ~ .prev label[for="switch15"],
#switch17:checked ~ .prev label[for="switch16"],
#switch18:checked ~ .prev label[for="switch17"],
#switch19:checked ~ .prev label[for="switch18"],
#switch20:checked ~ .prev label[for="switch19"],
#switch1:checked ~ .next label[for="switch2"],
#switch2:checked ~ .next label[for="switch3"],
#switch3:checked ~ .next label[for="switch4"],
#switch4:checked ~ .next label[for="switch5"],
#switch5:checked ~ .next label[for="switch6"],
#switch6:checked ~ .next label[for="switch7"],
#switch7:checked ~ .next label[for="switch8"],
#switch8:checked ~ .next label[for="switch9"],
#switch9:checked ~ .next label[for="switch10"],
#switch10:checked ~ .next label[for="switch11"],
#switch11:checked ~ .next label[for="switch12"],
#switch12:checked ~ .next label[for="switch13"],
#switch13:checked ~ .next label[for="switch14"],
#switch14:checked ~ .next label[for="switch15"],
#switch15:checked ~ .next label[for="switch16"],
#switch16:checked ~ .next label[for="switch17"],
#switch17:checked ~ .next label[for="switch18"],
#switch18:checked ~ .next label[for="switch19"],
#switch19:checked ~ .next label[for="switch20"]
{
	pointer-events: auto;
}

/*-------------------------------------------
shogi-player
-------------------------------------------*/
.shogi-player_container {
  display: block;
  inset:5px 37% 0px 37%;
  position: absolute;
  overflow:hidden;
  z-index: 16;
}



.quiz-container {
  flex-basis:22%;
  background-color: rgba(0, 0, 0, 0.02);
  justify-content:center;
  position:relative;
  left: 30px;
  margin: 20px 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 85vh;
  padding: 20px;
}

.sp {
  z-index: 9;
}

.emphasize {
  background-color: aqua;
}

@media screen and (max-width: 1540px) {
  .slide-img-single img {
    width: 100%;
    max-width: 36vw;
    height: auto;
  }

  .slide-img-double img {
    width: 100%;
    max-width: 36vw;
    height: auto;
  }
}

@media screen and (max-width: 991px) {
  
  
  .slide-img-double img {
    max-width: 30vw;
    
  }

  .slide-img-single {
    position: relative;
    top: 100px;
  }

  .slide-img-double {
    position: relative;
    top: 100px;
  }

}

@media screen and (max-width: 767px) {
  .slide_closeButton_container {
    right: 30px;
  }

  .last {
    font-size: 50px;
  }

  .slide-title {
    font-size: 10vw;
  }

  .prev {
    right: 80%;
  }

  .next {
    left: 80%;
  }

  #slide1 > div > p {
    font-size: 4vw;
  }

  #slide1 > div > img {
    max-width: 100%;
    width: 100%;
  }

  .logo {
    position: relative;
    width: 40vw;
    margin: 0 auto;
    max-width: 800px;
    min-width: 280px;
  }

  .logo-text {
    color: #fff;
    position: relative;
    width: 100%;
    /* background: linear-gradient(rgba(69, 56, 64, 0.7), rgba(0, 0, 0, 0.7), rgba(65, 63, 51, 0.7)); */
    font-size: 8vw;
    font-weight: bold;
    z-index: 2;
  }

  #slide2 {
    display: flex;
    flex-direction: column;
  }
  
  .slide-txt {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    
  }

  .slide-txt div {
    flex-basis: 100%;
  }
  
  .slide-txt p {
    font-size: 1rem;
    line-height: 25px;
  }

  .slide-txt-last p {
    font-size: 1rem;
  }

  .slide-img-single {
    flex-basis: 70%;
    flex-direction: column;
  }

  .slide-img-single p {
    font-size: 1rem;
    font-weight: bold;
    color: white;
  }
  
  .slide-img-double {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    top: -20px;
  }

  .slide-img-double p {
    font-size: 1rem;
    font-weight: bold;
    color: white;
}
  
  .slide-img-1{
    position: relative;
    right: 0px;
    flex-basis: 50%;

  }
  
  .slide-img-2 {
    position: relative;
    left: 0px;
    flex-basis: 50%;
  }

  .slide-img-single {
    display: flex;
    align-items: center;
  }

  .slide-img-single > div {
    flex-basis: 100%;
  }

  .slide-img-single img {
    max-width: 60%;
  }
  
  .slide-img-double img {
    max-width: 60%;
  }
}

.logo-red {
  text-shadow: -1px -1px 4px red, -1px 0 4px red, -1px 1px 4px red,
                  0 -1px 4px red,                    0 1px 4px red,
                1px -1px 4px red,  1px 0 4px red,  1px 1px 4px red;
}

.logo-blue {
  text-shadow: -1px -1px 4px blue, -1px 0 4px blue, -1px 1px 4px blue,
                  0 -1px 4px blue,                    0 1px 4px blue,
                1px -1px 4px blue,  1px 0 4px blue,  1px 1px 4px blue;
}

.logo-green {
  text-shadow: -1px -1px 4px #288a49a0, -1px 0 4px #288a49a0, -1px 1px 4px #288a49a0,
                  0 -1px 4px #288a49a0,                    0 1px 4px #288a49a0,
                1px -1px 4px #288a49a0,  1px 0 4px #288a49a0,  1px 1px 4px #288a49a0;
}

.logo-yellow {
  text-shadow: -1px -1px 4px #ab8c00, -1px 0 4px #ab8c00, -1px 1px 4px #ab8c00,
                  0 -1px 4px #ab8c00,                    0 1px 4px #ab8c00,
                1px -1px 4px #ab8c00,  1px 0 4px #ab8c00,  1px 1px 4px #ab8c00;
}

.logo-lightBlue {
  text-shadow: -1px -1px 4px #00ccff, -1px 0 4px #00ccff, -1px 1px 4px #00ccff,
                  0 -1px 4px #00ccff,                    0 1px 4px #00ccff,
                1px -1px 4px #00ccff,  1px 0 4px #00ccff,  1px 1px 4px #00ccff;
}

.logo-orange {
  text-shadow: -1px -1px 4px #ff9933, -1px 0 4px #ff9933, -1px 1px 4px #ff9933,
                  0 -1px 4px #ff9933,                    0 1px 4px #ff9933,
                1px -1px 4px #ff9933,  1px 0 4px #ff9933,  1px 1px 4px #ff9933;
}

.logo-pink {
  text-shadow: -1px -1px 4px #ea3992, -1px 0 4px #ea3992, -1px 1px 4px #ea3992,
                  0 -1px 4px #ea3992,                    0 1px 4px #ea3992,
                1px -1px 4px #ea3992,  1px 0 4px #ea3992,  1px 1px 4px #ea3992;
}
