@charset "UTF-8";

/*リセットCSS*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, article, aside, canvas,
details, figcaption, figure, footer, header, hgroup, menu, nav,
section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.slideshow_wrapper {
	display: none;
}

#slide_close {
	display: none;
}

#slide_close:checked +.slideshow_wrapper {
	z-index: 100;
	inset: 0px;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	display: block;
}

#slide_close:checked +html {
	overflow-y: hidden;
}


.slideshow_container {
	z-index: 100;
	inset: 15px;
	position: absolute;
}

.slideshow {
	overflow: hidden;
	display: block;
    position: absolute;
    z-index: 1000;
	inset: 0px;
}

.slide_closeButton_container {
	position: absolute;
    top: 20px;
    right: 55px;
    z-index: 100000;
}

.slide_closeButton {
	cursor:pointer;
    position: relative;
    font-size: 20px;
}



input[name="slideshow"] {
	display: none;
}

/* :::::: slideContents :::::: */
.slideContents {
	display: flex;
	width: 500%;
	text-align: center;
	-webkit-user-select: none;
	user-select: none;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    inset: 0px;
    background: -webkit-radial-gradient(center center, circle cover, rgb(23, 156, 197) 0%, rgb(173, 217, 228) 100%);
    overflow: hidden;

}
.slideContents section {
	width: 20%;
	height: 100%;
}

.slide_wrapper{
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}

.slide1_inside_areaA {
	width: 100%;
	grid-area: areaA;
	display: flex;
	flex-direction: column;
}

.slide1_inside_areaB {
	width: 100%;
	grid-area: areaB;
	display: block;
}

@media (orientation: landscape){
	.slideContents section div {
		transform: scale(0.8);
	}
}



#slide1 {
	grid-template-rows: 200px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "areaA areaA"
        "areaB areaB";
}

#slide2 {
	grid-template-rows: 400px 1fr;
    grid-template-columns: 400px 1fr;
    grid-template-areas:
        "areaA areaA"
        "areaB areaC";
}

.headline {
	font-size: 70px;
}

.description {
	font-size: 30px;
}

#itemB {
	grid-area: areaB;
}

@media (min-width: 520px) {
	.slideContents section img {
		aspect-ratio: 3 / 1;
		object-fit: cover;
	}
}

/* :::::: arrows :::::: */
.arrow,
.arrow label,
.arrow .ico {
	position: absolute;
}
.arrow {
	top: 0;
	margin: 0;
	transition: background .3s;
}
.prev {
	left: 0;
}
.next {
	right: 0;
}
.arrow:hover {
	background: rgba(255,255,255,.2);
}
.arrow,
.arrow label {
	cursor: pointer;
	width: 50px;
	height: 100%;
}
.arrow label {
	top: 0;
	left: 0;
	z-index: 1;
}
.arrow .ico {
	top: calc(50% - 6px);
	width: 12px;
	height: 12px;
	border-top: 3px solid #fff;
	opacity: 0;
}
.prev .ico {
	left: 50%;
	border-left: 3px solid #fff;
	transform: rotate(-45deg);
	transition: left .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
}
.next .ico {
	right: 50%;
	border-right: 3px solid #fff;
	transform: rotate(45deg);
	transition: right .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
}
.arrow:hover .ico {
	opacity: .6;
}
.prev:hover .ico {
	left: calc(50% - 6px);
}
.next:hover .ico {
	right: calc(50% - 6px);
}

/* :::::: mechanism :::::: */
#switch1:checked ~ .slideContents {
	transform: translateX(0);
}
#switch2:checked ~ .slideContents {
	transform: translateX(-20%);
}
#switch3:checked ~ .slideContents {
	transform: translateX(-40%);
}
#switch4:checked ~ .slideContents {
	transform: translateX(-60%);
}
#switch5:checked ~ .slideContents {
	transform: translateX(-80%);
}

/* :::::: arrow mechanism :::::: */
.arrow label {
	pointer-events: none;
}
#switch2:checked ~ .prev label[for="switch1"],
#switch3:checked ~ .prev label[for="switch2"],
#switch4:checked ~ .prev label[for="switch3"],
#switch5:checked ~ .prev label[for="switch4"],
#switch1:checked ~ .next label[for="switch2"],
#switch2:checked ~ .next label[for="switch3"],
#switch3:checked ~ .next label[for="switch4"],
#switch4:checked ~ .next label[for="switch5"] {
	pointer-events: auto;
}