@charset "UTF-8";

/*リセットCSS*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, article, aside, canvas,
details, figcaption, figure, footer, header, hgroup, menu, nav,
section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.slideshow_wrapper {
	display: none;
}

#slide_close {
	display: none;
}

#slide_close:checked +.slideshow_wrapper {
	z-index: 100;
	inset: 0px;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	display: block;
}

#slide_close:checked +html {
	overflow-y: hidden;
}


.slideshow_container {
	z-index: 100;
	inset: 15px;
	position: absolute;
}

.slideshow {
	overflow: hidden;
	display: block;
    position: absolute;
    z-index: 1000;
	inset: 0px;
}

.slide_closeButton_container {
	position: absolute;
    top: 20px;
    right: 55px;
    z-index: 100000;
}

.slide_closeButton {
	cursor:pointer;
    position: relative;
    font-size: 20px;
}



input[name="slideshow"] {
	display: none;
}

/* :::::: slideContents :::::: */
.slideContents {
	display: flex;
	width: 500%;
	text-align: center;
	-webkit-user-select: none;
	user-select: none;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    inset: 0px;
    background: -webkit-radial-gradient(center center, circle cover, rgb(23, 156, 197) 0%, rgb(173, 217, 228) 100%);
    overflow: hidden;

}
.slideContents section {
	width: 20%;
	height: 100%;
}

.slide_wrapper{
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}



@media (orientation: landscape){
	.slideContents section div {
		transform: scale(0.8);
	}
}



#slide1 {
	grid-template-rows: 200px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "areaA areaA"
        "areaB areaB";
}

.slide1_inside_areaA {
	width: 100%;
	grid-area: areaA;
	display: flex;
	flex-direction: column;
}

.slide1_inside_areaB {
	width: 100%;
	grid-area: areaB;
	display: block;
}

#slide2 {
	grid-template-rows: 200px 1fr;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas:
        "areaA areaB"
        "areaC areaC";
}

.slide2_inside_areaA {
	width: 100%;
	height: 100%;
	grid-area: areaA;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slide2_inside_areaB {
	width: 100%;
	height: 100%;
	grid-area: areaB;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slide2_inside_areaC {
	width: 100%;
	height: 100%;
	grid-area: areaC;
}

#slide3 {
	grid-template-rows: 200px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "areaA areaB"
        "areaC areaD";
}

.slide3_inside_areaA {
	width: 100%;
	height: 100%;
	grid-area: areaA;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slide3_inside_areaB {
	width: 100%;
	height: 100%;
	grid-area: areaB;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slide3_inside_areaC {
	width: 100%;
	height: 100%;
	grid-area: areaC;
}

.slide3_inside_areaD {
	width: 100%;
	height: 100%;
	grid-area: areaD;
}

#slide4 {
	grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "areaA";
}

.slide4_inside_areaA {
	width: 100%;
	height: 100%;
	grid-area: areaA;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.slide_title {
	font-size: 70px;
}

.slide_headline {
	font-size: 50px;
}

.description {
	font-size: 30px;
}



/* @media (min-width: 520px) {
	.slideContents section img {
		aspect-ratio: 3 / 1;
		object-fit: cover;
	}
} */

/* :::::: arrows :::::: */
.arrow,
.arrow label,
.arrow .ico {
	position: absolute;
}
.arrow {
	top: 0;
	margin: 0;
	transition: background .3s;
}
.prev {
	left: 0;
}
.next {
	right: 0;
}
.arrow:hover {
	background: rgba(255,255,255,.2);
}
.arrow,
.arrow label {
	cursor: pointer;
	width: 50px;
	height: 100%;
}
.arrow label {
	top: 0;
	left: 0;
	z-index: 1;
}
.arrow .ico {
	top: calc(50% - 6px);
	width: 12px;
	height: 12px;
	border-top: 3px solid #fff;
	opacity: 0;
}
.prev .ico {
	left: 50%;
	border-left: 3px solid #fff;
	transform: rotate(-45deg);
	transition: left .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
}
.next .ico {
	right: 50%;
	border-right: 3px solid #fff;
	transform: rotate(45deg);
	transition: right .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
}
.arrow:hover .ico {
	opacity: .6;
}
.prev:hover .ico {
	left: calc(50% - 6px);
}
.next:hover .ico {
	right: calc(50% - 6px);
}

/* :::::: mechanism :::::: */
#switch1:checked ~ .slideContents {
	transform: translateX(0);
}
#switch2:checked ~ .slideContents {
	transform: translateX(-20%);
}
#switch3:checked ~ .slideContents {
	transform: translateX(-40%);
}
#switch4:checked ~ .slideContents {
	transform: translateX(-60%);
}
#switch5:checked ~ .slideContents {
	transform: translateX(-80%);
}

/* :::::: arrow mechanism :::::: */
.arrow label {
	pointer-events: none;
}
#switch2:checked ~ .prev label[for="switch1"],
#switch3:checked ~ .prev label[for="switch2"],
#switch4:checked ~ .prev label[for="switch3"],
#switch5:checked ~ .prev label[for="switch4"],
#switch1:checked ~ .next label[for="switch2"],
#switch2:checked ~ .next label[for="switch3"],
#switch3:checked ~ .next label[for="switch4"],
#switch4:checked ~ .next label[for="switch5"] {
	pointer-events: auto;
}



html {
    font-size: 100%;
    scroll-behavior: smooth;
	height: 100%;
}

body {
    color: #333;
    font-size: 1rem;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
	height: 100%;
}

a {
    color: #333;
    text-decoration: none;
    transition: all 0.5s;
    
}

a:hover {
  opacity: 0.7;
}

img {
    max-width: 100%;
}
li {
    list-style: none;
}



/*
グローバルナビゲーション 未理解
「position: relative;」で、サブメニュー（Wide）の基準位置として設定

.wrapper .menu {
  /*
  これはメインサイトにも共有しているためバグの原因にもなる。
  よってどこかキリのいいところで新しいファイルを作って試してもよいか。
　
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}



/*
コンテンツ幅を設定するための共通クラス
*/
.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.wrapper > li {
  width: 25%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.wrapper > li:hover {
  background-color: #3c3636;
}

.wrapper > li a {
  display: block;
}

.wrapper > .single {
  position: relative;
}




/*
.wrapper {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}
*/
/*
.readmore {
    font-size: 0.875rem;
    text-align: center;
}
*/
/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 10;
}
#header .site-title {
  padding: 20px 16px;
  /*header自体の位置(間隔)*/
  line-height: 1px;
  /*header縦の位置が変わったけどなぜかはわからん*/
}
/*
「display: inline-block;」でリンクを親要素の範囲に広げる
※blockを指定すると横幅いっぱいまで広がってしまうため、
inline-blockを設定している
*/

#header .site-title a {
    display: inline-block;
}
#navi {
    background-color: #333;
    /*
    display: flex;
    align-items: center;
    justify-content: space-between;
    */
}

#navi a {
    color: #fff;
}


.menu-second {
  visibility: hidden;
}


.single .menu-second {
  width: 100%;
  background-color: #3C3636;
  position: absolute;
  top: 50px;
  left: 0;
}
.single .menu-second li a:hover {
  opacity: 0.7;
}

.single:hover .menu-second {
  visibility: visible;
}

.pc-area {
  display: block;
  /* pc版を表示 */
}
.phone-area {
  display: none;
  /* スマホ版を非表示 */
}
.toggle_btn {
  right: 15px;
  display: none;
  /* スマホ版を非表示 */
}
/*
nav li {
    font-size: 0.875rem;
    ヘッダー枠内の文字の大きさ
    padding: 10px 40px 10px 40px;
    ヘッダー枠内の空白調整
}
*/
/*
nav .menu,
nav .login {
  display: flex;
  align-items: center;
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}
*/

/*
nav .login li {
  padding: 10px 80px 10px 0px;
  margin-left: 0px;
  ヘッダー枠内のloginの間隔
}
*/

/* #navi ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
} */

#navi li {
  font-size: 0.875rem;
  /* padding: 10px 60px 10px 0; */
  margin: auto;
  /*ヘッダー枠内のmenuの位置*/
  /*margin-right: 0px;*/
  /*ヘッダー枠内のmenuの間隔*/
}
/*
#navi li {
  font-size: 0.875rem;
  padding: 10px 0 10px 0;
  margin: 0 auto;
}
*/

/*-------------------------------------------
top-title ヘッダーの次に来る初心者向けのとこ
-------------------------------------------*/

#top-title {
  /*display: flex;*/
  justify-content: space-between;
  padding-top: 150px;
  /*margin-bottom: 60px;*/
}

#top-title article {
  width: 50%;
}

/*初心者向けリストの上タイトル*/
#top-title .article-title {
  font-size: 20px;
  margin: 10px 0 15px 0;
}

/*初心者向けリストの下タイトル*/
#top-title .article-subtitle {
  font-size: 50px;
}

/*main*/
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-list li {
    /*戦法リストのサイズ、1列4つ入れるなら23%*/
    width: 32%;
    /*戦法リストの間隔幅*/
    margin-top: 40px;
    margin-bottom: 40px;
}
.product-list img {
    margin-bottom: 10px;
    vertical-align: top;
}
.product-list p {
    font-size: 0.75rem;
}

/*-------------------------------------------
TOP、PRODUCTS
-------------------------------------------*/

.link-text {
  display: block;
  text-align: center;
  margin-bottom: 20px; /*View Moreのbottom間隔*/
}

/*-------------------------------------------
footer　※以下コピペ理解未完
-------------------------------------------*/
#footer {
  font-size: 0.875rem;
  background-color: #f7f7f7;
}
#footer .content {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
 padding-bottom: 50px;
}
#footer .item {
  width: 30%;
}
#footer .footer-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 30px;
}
#footer ul.about-list {
  margin: 20px 0;
}
#footer ul.about-list li {
  margin-bottom: 5px;
}
#footer ul.about-list .arrow {
  position: relative;
  display: inline-block;
  padding-left: 12px;
  color: #333;
}
/*
疑似要素で三角矢印を表示
border～プロパティで三角を作り、positionで位置調整
*/
#footer ul.about-list .arrow::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #333;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
}
#footer .menu-list {
  border-bottom: solid  1px #777;
}
#footer .menu-list > li {
  border-top: solid  1px #777;
  padding: 15px;
  text-align: left;
}
#footer .copyright {
  font-size: 0.750rem;
  text-align: center;
  padding: 10px 0;
}

/*
otoiawase
.select, .input, .radio, .textarea
*/
/*
#top {
  padding-top: 150px;
}
*/
.select {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
}
.input {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
}
.radio {
  margin: auto;
}
.textarea {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
  min-height: 100px;
}
label, input, textarea, select, button {
  cursor: pointer;
}

/*-------------------------------------------
SP
-------------------------------------------*/

@media screen and (max-width: 2000px) {

  .pc-area {
    display: none;
    /* pc版を非表示 */
  }
  .phone-area {
    display: block;
    /* スマホ版を表示 */
  }
  /*-------------------------------------------
  header
  -------------------------------------------*/
  #header .site-title {
    padding: 20px 16px;
  }

  /*
  「position: fixed;」でヘッダーを固定し、「z-index: 10;」で前面に表示
  ※他のコンテンツでpositionをrelative、absolute、fixedのいずれかに
  設定している場合は、z-indexの数値が大きい方が前面に表示される
  */
  /*
「position: fixed;」でヘッダーを固定し、「z-index: 10;」で前面に表示
※他のコンテンツでpositionをrelative、absolute、fixedのいずれかに
設定している場合は、z-indexの数値が大きい方が前面に表示される
*/
#header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10
}
/*
ハンバーガーメニュー
メニューが閉じている時は、「left: -300px;」で画面左に隠し、
「opacity: 0;」で非表示にしている
*/
#navi-phone {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  color: #fff;
  padding: 36px 50px;
  transition: all 0.5s;
  z-index: 20;
  opacity: 0;
}
#navi-phone a {
  color: #fff;
}
#navi-phone li {
  margin-bottom: 14px;
}
/*
ハンバーガーメニュー
メニューが開いている時は、「left: 0;」「opacity: 1;」で
画面左に表示する
*/
.open #navi-phone {
  left: 0;
  opacity: 1;
}
.toggle_btn {
  display: block;
  /* スマホ版を表示 */
  width: 30px;
  height: 30px;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 20;
}
/*
ハンバーガーメニューの線の設定（メニューが閉じている時）
*/
.toggle_btn span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all 0.5s;
}
/*
1本目の線の位置を設定
*/
.toggle_btn span:nth-child(1) {
  top: 10px;
}
/*
2本目の線の位置を設定
*/
.toggle_btn span:nth-child(2) {
  bottom: 10px;
}
/*
ハンバーガーメニューの線の設定（メニューが開いている時）
線の色を白に変更
*/
.open .toggle_btn span {
  background-color: #fff;
}
/*
1本目の線を-45度回転
*/
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(4px) rotate(-45deg);
  transform: translateY(4px) rotate(-45deg);
}
/*
2本目の線を45度回転
*/
.open .toggle_btn span:nth-child(2) {
  -webkit-transform: translateY(-4px) rotate(45deg);
  transform: translateY(-4px) rotate(45deg);
}
#mask {
  display: none;
  transition: all 0.5s;
}
/*
メニューを開いている時は、全体を黒背景にする
*/
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 10;
  cursor: pointer;
}

  /*-------------------------------------------
  top-title
  -------------------------------------------*/

  #top-title {
    padding-top: 100px;
    flex-direction: column;
  }
  /*Galaxy Foldでは"駒の動かし方"が2行になるため調整必要*/

  #top-title article {
    width: 100%;
    margin-bottom: 30px;
  }

  /*-------------------------------------------
  container
  -------------------------------------------*/
  #container {
    flex-direction: column;
  }
  main {
    width: 100%;
  }

  /*-------------------------------------------
  aside
  -------------------------------------------*/
  #sidebar {
    width: 100%;
    padding: 0;
  }

  /*-------------------------------------------
  footer
  -------------------------------------------*/
  #footer .content {
    flex-direction: column;
  }
  #footer .item {
    width: 100%;
    margin-bottom: 30px;
  }

}


    /*-------------------------------------------
  popup
  -------------------------------------------*/
  .open-pop-up {
    /* cursor:pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
  }
  #pop-up {
    display: none;  /* label でコントロールするので input は非表示に */
    
  }
  .overlay {
    display: none;  /* input にチェックが入るまでは非表示に */
  }
  #pop-up:checked +.overlay {
    display: block;
    z-index: 9999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
  .window {
    width: 90vw;
    max-width: 380px;
    height: 240px;
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .text {
    font-size: 18px;
    margin: 0;
  }
  .close-pop-up {
    cursor:pointer;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 20px;
  }

  #move-page {
    position: absolute;
    top: 66%;
    left: 46%;
  }